## <center> Response Surface Methode <br> am Beispiel Bieranalytik <center>
#    <center> von Eike Ahlers <center>

# Gliederung

- Grundlagen
- Ablauf Methode
- Grundlage zur Erstellung von Experimentdesign
- Anpassung linearer Regressionsmodelle
- praktische Implementierung
- Benutzeroberfl√§che

# Was ist die Response Surface Methode

In [10]:
import pandas as pd
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}


Tabelle = pd.DataFrame(data)

In [11]:
Tabelle

   apples  oranges
0       3        0
1       2        3
2       0        7
3       1        2